# 1. 删除当前配置文件
rm _config.yml

# 2. 创建一个全新的配置文件（不包含任何特殊字符）
cat > _config.yml << 'EOF'
# Welcome to Jekyll!
# 
# This config file is meant for settings that affect your entire site
# For technical reasons, this file is *NOT* reloaded automatically

# Site Settings
locale                   : "en-US"
title                    : "Mengnan Zhao"
title_separator          : "-"
name                     : "Mengnan Zhao"
description              : "Academic website of Mengnan Zhao"
url                      : https://Dlut-lab-zmn.github.io
baseurl                  : ""
repository               : "Dlut-lab-zmn/Dlut-lab-zmn.github.io"
breadcrumbs              : false
words_per_minute         : 160
future                   : true

# Site Author
author:
  name             : "Mengnan Zhao"
  avatar           : "profile.png"
  bio              : "Dalian University of Technology"
  location         : "Dalian"
  googlescholar    : "https://scholar.google.com/citations?user=x2tzLL4AAAAJ"
  email            : "dlutzmn@mail.dlut.edu.cn"
  wechat           : "15822843520"

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true

# Conversion
markdown: kramdown
highlighter: rouge

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from

# Outputting
permalink: /:categories/:title/
timezone: Asia/Shanghai

# HTML Compression
compress_html:
  clippings: all
EOF
